.vis-direction-before,
.vis-up::before,
.vis-left::before,
.vis-right::before,
.vis-down::before,
.vis-zoomIn::before,
.vis-zoomOut::before,
.vis-zoomExtends::before {
    display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 2.5em;
    color: #838383;
    text-shadow: 1px 1px antiquewhite;
    margin-top: 0;
    margin-left: 2px;
}

div.vis-tooltip {
    position: absolute;
    visibility: hidden;
    padding: 5px;
    white-space: nowrap;
    font-family: verdana;
    font-size: 10px;
    color: white;
    background-color: #636363;
    /* -moz-border-radius: 3px;
    -webkit-border-radius: 3px; */
    border-radius: 2px;
    /* border: 1px solid #808074;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2); */
    pointer-events: none;
    z-index: 5
}

div.vis-network div.vis-navigation div.vis-button {
    width: 36px;
    height: 33px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    position: absolute;
    display: inline-block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

div.vis-network div.vis-navigation div.vis-button.vis-up {
    bottom: 65px;
    left: 44px;
    background: url(../../assets/icons/up.svg) no-repeat -1px center;
    width: 21px;
    height: 16px;
    position: absolute;
}

div.vis-network div.vis-navigation div.vis-button.vis-down {
    bottom: 28px;
    left: 44px;
    background: url(../../assets/icons/down.svg) no-repeat 1px center;
    width: 21px;
    height: 16px;
    position: absolute;
}

div.vis-network div.vis-navigation div.vis-button.vis-left {
    bottom: 44px;
    left: 28px;
    background: url(../../assets/icons/left.svg) no-repeat 1px center;
    width: 16px;
    height: 22px;
    position: absolute;
}

div.vis-network div.vis-navigation div.vis-button.vis-right {
    bottom: 44px;
    left: 65px;
    background: url(../../assets/icons/right.svg) no-repeat 1px center;
    width: 16px;
    height: 22px;
    position: absolute;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomIn {
    top: 151px;
    right: 40px;
    background: url(../../assets/icons/zoom_in.svg) no-repeat 13px center;
    /* box-shadow: 0px 4px 4px rgba(131, 131, 131, 0.1); */
    border-radius: 0px;
    border: 0.35px solid #dddddd;
    width: 35.92px;
    height: 31px;
    background-color: white;
    margin-top: 2px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomOut {
    top: 179px;
    right: 40px;
    background: url(../../assets/icons/zoom_out.svg) no-repeat 14.5px center;
    box-shadow: 0px 4px 4px rgba(131, 131, 131, 0.1);
    border-radius: 0 0 3px 3px;
    border: 0.35px solid #dddddd;
    width: 35.92px;
    height: 31px;
    background-color: white;
    margin-top: 4px;
}

div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
    top: 123px;
    right: 40px;
    background: url(../../assets/icons/zoom_extends.svg) no-repeat 9px center;
    /* box-shadow: 0px 4px 4px rgba(131, 131, 131, 0.1); */
    border-radius: 3px 3px 0 0;
    border: 0.35px solid #dddddd;
    width: 35.92px;
    height: 31px;
    background-color: white;
}