<div class="panel-group">
  <div class="panel panel-default borderless-panel">
    <div class="panel-heading">
      <div class="heading-wrapper">
        <div class="headings">
          <div class="sub-heading">Details about</div>
          <div class="main-heading"  matTooltipClass="material-tooltiptop" matTooltip="{{info}}" matTooltipPosition="above">{{truncatedInfo}}</div>
        </div>
        <div class="langBox" *ngIf="info !=null;else notSelectedNode ">
          <form [formGroup]="countryForm">
            <div class="form-group" >
            <mat-form-field floatLabel="never" class="mat-form-select-info">
              <!-- <mat-label [value]="undefined" disabled></mat-label> -->
              <mat-select matNativeControl id="languageId" class="tooltiptext" (selectionChange)="changeFilter($event)"
                formControlName="countryControl">
                <mat-option class="control-label" matTooltip="{{language.split('_LS_')[0] | firstCaseUpper}}" matTooltipPosition="left" matTooltipClass="material-tooltipInfo"
                [value]="language.split('_LS_')[0]" *ngFor="let language of languages">
                {{language.split('_LS_')[0] | truncateString:10:'middle'| firstCaseUpper}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
            <!-- <div class="form-group">
               <select id="languageId" class="form-control" (change)="changeFilter($event.target)" formControlName="countryControl">
                <option class="options" matTooltip="{{language.split('_LS_')[0]}}" matTooltipPosition="before"
                  [value]="language.split('_LS_')[0]" *ngFor="let language of languages">
                  {{language.split('_LS_')[0].length < 10 ? language.split('_LS_')[0] : updateValue(language.split('_LS_')[0])}}
                </option>
              </select> 
            </div> -->
          </form>
        </div>
      </div>
      <ng-template #notSelectedNode>
        <div class="sub-heading">Please select any of the Node...!</div>
      </ng-template>
    </div>
    <div class="panel-body" slimScroll>
      <p>More Infos : <a href="{{infoURI}}" target="_blank">{{infoURI}}</a> </p>
      <!-- <p><a href="{{imageURI}}" target="_blank" style="margin-left:70px;"><img style="border-radius: 4px;" src="{{imageURI}}" alt="RelFinder" width="50" height="70"></a></p>     -->
      <p [innerHTML]="desc">
      </p>
    </div>
  </div>
</div>