.text-header {
    display: flex;
    font-size: 15px;
    line-height: 15px;
    color: #838383;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 0.3px solid rgba(131, 131, 131, 0.7);
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.headerContainer {
    width: 95%;
}

.main-heading {
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}


/* .closeContainer {
    width: 4%;
    margin: -3px 0px;
} */

#relcloseBtn {
    padding: 0px;
}

:host ::ng-deep .nav>li>a {
    padding-right: 10px !important;
}

:host ::ng-deep .nav>li.active>a {
    border: none;
    border-bottom: 3px solid #E65A14;
    background: inherit;
}

:host ::ng-deep .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    padding: 7px 1px !important;
    padding-top: 17px !important;
    padding-bottom: 4px !important;
    border: none;
    outline: none;
    color: #555;
    cursor: pointer;
    background-color: inherit;
    border-bottom: 3px solid #E65A14;
    font-weight: 500;
}

:host ::ng-deep .nav>li>a {
    padding: 7px 1px !important;
    padding-top: 17px !important;
    padding-bottom: 4px !important;
    border: none;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #434343;
    border-bottom: 3px solid transparent;
}

:host ::ng-deep .nav li:first-child>a {
    padding-right: 10px;
}

:host ::ng-deep .nav-tabs {
    border-bottom: unset;
}

:host ::ng-deep .nav-tabs>li {
    padding-right: 10px;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background: #F3F3F3;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 4px 4px;
    margin: 0px -24px;
}

.content {
    min-height: 100px;
}

.list-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #434343;
}

.itemImg {
    margin-left: -10px;
    margin-right: 8px;
}

.nav {
    margin-bottom: 0px;
}

.panel-body {
    padding: 0px !important
}

.outter-panel {
    border: 0;
    box-shadow: none;
}

:host ::ng-deep .tab-content {
    padding-top: 17px;
    max-height: 150px;
}

.mat-dialog-content {
    height: calc(100% - 75px);
    max-height: unset;
}

.footerText {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #636363;
    cursor: pointer;
}

.btn-link:focus {
    outline: none;
}

.orgContainer {
    width: 60%;
    margin-top: -15px;
    margin-left: 30px;
}

.versionBox {
    width: 75%;
}

.policyContainer {
    width: 40%;
    margin-top: -15px;
    display: flex;
    justify-content: flex-end;
}

.policyBox {
    width: 50%;
    text-align: right;
}

.termsBox {
    width: 45%;
}

.placeDivider {
    width: 5%;
    text-align: center;
}

.versionLabel {
    /* width: 64px;
    height: 19px; */
    background: #002B4B;
    border-radius: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #E4E4E4;
    pointer-events: none;
    outline: unset;
    margin-left: 6px;
}

.versionLabel:focus {
    outline: unset;
}


/* @media (max-width:1002px) {
    .headerContainer {
        width: 17%;
    }
    .versionBox {
        width: 70%;
    }
}

@media (max-width:768px) {
    .headerContainer {
        width: 35%;
    }
    .versionBox {
        width: 60%;
    }
} */

.copyrightImg {
    width: 12px;
    height: 11px;
    padding-bottom: 2px;
}

.closeImg {
    height: 16px;
    width: 16px;
    margin-bottom: 8px;
}